@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #A9C5FF;
    font-size: 16px;
}
.nav-bar{
    background-color: #5F79E2;
    color: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}
a:hover{
    color: #a1c3ff;
}
.nav-bar .logo{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 4px 4px #FF9D8A;
    color: #fff;
}
.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
    margin-left: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

form h1{
    text-align: center;
    padding: 10px 0;
    color:rgb(5, 5, 224)
}

.id{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

form.id{
  position: relative;
}

.id i{
  position: relative;
  font-size: 20px;
  top: 50%;
  right: 5%;
  transform: translate(-50%);
}

form input{
    border: 1px solid #5c5c5c;
    background: white;
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    width: 40%;
    height: 50px; 
    margin: 4px 4px;
    border-radius: 10px;
    padding: 0 10px; 
    padding-right: 45px;
    margin-bottom: 8px;   
}

.id2 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

form textarea{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 15px;
    border-radius: 10px;
    width: 40%;
    font-size: 20px;
    border: 1px solid #5c5c5c;
    background: white;
    margin: 4px 0;
    resize: none;
    align-items: center;
    margin-bottom: 8px;
}
form button{ 
    margin-top: 3px;
    border: none;
    background: white;
    border: 1px solid #5c5c5c;
    color:#5c5c5c ;
    /* min-width: 13%; */
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 30px;
    height: 50px;
}
form button:hover{
     background-color: lightgray

}
.card img {
    max-width: 75px;
    border-radius: 100%;
}

h2 {
    text-align: center;
    padding: 10px 0;
    color:rgb(5, 5, 224);
    font-weight: 800;
}

h1 {
    text-align: center;
    padding: 10px 0;
    color:rgb(5, 5, 224);
    font-weight: 800;
}

.card{ 
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    background-color: #5F79E2;
    box-shadow : 5px 5px 20px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    width: 60%;
    margin: 30px auto;
    justify-content: center;
}
.card_content{
    display: flex;
    gap: 1rem;
    padding: 10px;
}
span i { color: #da0852;}

.card_details p{
    font-style: italic;
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
.card_details h4{
    text-align: left;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    font-weight: 500;
}
header{
   background-position: bottom center;
   background-size: cover;
   min-height: 10vh;
   display: flex;
}

h6 {
    text-shadow: 0 4px 4px #FF9D8A;
    font-size: 40px;
    padding-top: 25px;
}

.footerlist>li {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.footerlist {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.footerlist a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
}

.footerlist a:hover {
    color: #a1c3ff;
}

footer {
    background-color: #5F79E2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 10px;
}

.aligment {
    margin: 25px;
    margin-bottom: 30px;
    text-align: center;
}

.heading-card-section h1 {
    text-shadow: 0 4px 4px #FF9D8A;
    font-size: 40px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #5F79E2;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

}

.aligment2 {
    margin: 50px;
    margin-bottom: 1px;
    text-align: center;
}

.heading-card-section2 h1 {
    text-shadow: 0 4px 4px #FF9D8A;
    font-size: 40px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #5F79E2;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

}

/* @media(width<1200px) { 
    .container{ gap: 3rem;
    }
}

@media(width<900px) {
    .container { grid-template-columns: repeat (1, 1fr);
    }
}

@media( width<750px) { 
    .container_left { grid-template-columns: repeat ( 1, 1fr);
    }
}*/

@media only screen and (max-width: 757px) {
    .heading-card-section2 h1{
      font-size: 32px;
    }
}

@media only screen and (max-width: 376px) {
    .heading-card-section2 h1{
      font-size: 30px;
    }
}

@media only screen and (max-width: 600px) {
    form input{ 
        width: 60%;
    }
    form textarea{ 
        width: 60%; 
    }
    .card{
        width: 85%;
    }
}

@media (max-width: 459px) {
    input::placeholder, textarea::placeholder, form button {
      font-size: 16px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
/* MEDIA QUERIES */

        /* MEDIA QUERY FOR HEADER */
@media only screen and (max-width: 550px) {
    .container {
        padding: 0 10px;
    }

    .nav-bar {
        height: auto;
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        flex-wrap:nowrap;
    }

    .nav-bar ul li {
        margin: 5px 0;
    }

}