@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #A9C5FF;
    font-size: 16px;
}
.nav-bar{
    background-color: #5F79E2;
    color: #fff;
    height: 70px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}
a:hover{
    color: #a1c3ff;
}
.nav-bar .logo{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 4px 4px #FF9D8A;
    color: #fff;
}
.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
    margin-left: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.gallery-container{
     padding: 2rem 5%;
}

.gallery-container .image-container{
    columns: 20rem 5;
    gap: 1.4rem;
}

.gallery-container .image-container img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    object-fit: fill;
    transition: 0.2s linear;
}

.gallery-container .image-container img:hover{
    transform: scale(1.03);
}

h6 {
    text-shadow: 0 4px 4px #FF9D8A;
    font-size: 40px;
    padding-top: 25px;
}

.footerlist>li {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.footerlist {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.footerlist a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
}

.footerlist a:hover {
    color: #a1c3ff;
}

footer {
    background-color: #5F79E2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 10px;
}

/* MEDIA QUERIES */

        /* MEDIA QUERY FOR HEADER */
        @media only screen and (max-width: 417px) {
            .container {
                padding: 0 10px;
            }
        
            .nav-bar {
                height: auto;
            }
        
            .nav-bar ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 0;
                flex-wrap:nowrap;
            }
        
            .nav-bar ul li {
                margin: 5px 0;
            }
        
        }

/* Images provided by unsplash.com */