@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.2s linear;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: hsl(225, 100%, 98%);
    font-size: 16px;
}
.nav-bar{
    background-color: #5F79E2;
    color: #fff;
    height: 70px;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500
}
a:hover{
    color: #a1c3ff;
}
.nav-bar .logo{
    font-size: large;
    font-weight: 500;
    text-shadow: #FFB49D 0 1.5px 2px;
    color: #fff;
}
.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
    margin-left: 20px;
}

.banner-area{
    background-image: url(/Groupproject/img//headerimage.jpg);
    background-size: cover;
    background-position: center center;
    top: 70px;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.banner-area:after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: .7;
    z-index: -1;
}

.banner-area h2{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 60px;
    color: #fff;
    text-align: center;
}


/* Images provided by unsplash.com */