@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #A9C5FF;
    font-size: 16px;
}
.nav-bar{
    background-color: #5F79E2;
    color: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 999;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 700
}
a:hover{
    color: #a1c3ff;
}
.nav-bar .logo{
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 4px 4px #FF9D8A;
    color: #fff;
}
.nav-bar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li{
    margin-left: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

h6 {
    text-shadow: 0 4px 4px #FF9D8A;
    font-size: 40px;
    padding-top: 25px;
}

.heading-card-section{
    text-align: center;
}

.heading-card-section h1 {
    text-shadow: 0 4px 4px #FF9D8A;
    font-size: 40px;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #5F79E2;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

}

.footerlist>li {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.footerlist {
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.footerlist a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
}

.footerlist a:hover {
    color: #a1c3ff;
}

footer {
    background-color: #5F79E2;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-top: 10px;
}

.bg-img{
        width: 100%; /* or any specific width */
        height: 100vh; /* or any specific height */
        overflow: hidden; /* Ensures no part of the image spills out of the container */
        display: flex; /* Centers the image within the container */
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;

}

.bg-img img {
position: absolute;
top: 70px;
left: 0;
    width: 100%;
 object-fit: contain;
 height:auto;

}

.info-box{
    position: absolute;  
    top: 60%;
    width: 50%;
    left: 25%;
    padding: 30px 30px;
    border-radius: 20px;
    font: inherit;
    color: #fff;
    line-height: 1.6;
    /* width: 100%; */

    background-color: rgba(95, 121, 226, 0.9);
    /* display: inline-block; */
    transition: background-color 1s linear;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

}

.heading-info-box{
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.info-box:hover{
    background-color: rgba(95, 121, 226, 1);
}

/* @media screen and (max-width: 613px) {
    .info-box {
  position: relative;
  margin-top: 0;
  padding-top: 0;

    }
  } */
  
  /* @media screen and (max-width: 613px) {
    .info-box {
        min-width: 80%;
        top: 50%;
        left:5%;
        padding: 10px;
        margin: 20px;
    }
    }

    .bg-img{
        width: 100%; /* or any specific width */
        height: 60vh; /* or any specific height */
        overflow: hidden; /* Ensures no part of the image spills out of the container */
        display: flex; /* Centers the image within the container */
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        position: relative;

} */