* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    align-items: flex-start;
    /* height: 100vh; */
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;
}

.card-container{
    min-width: 150px;
    max-width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    
}

.card-image{
    width: 100%;
    display: block;
    background-color: black;
    border-radius: 20px;
}

.card-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: #5F79E2;
    opacity: 0.95;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}

.info{
    font-size: 16px;
    opacity: 0;
    padding: 0px 10px;
    padding-bottom: 5px;
    max-height: 0px;
    overflow: hidden;
    transition: opacity 1s, max-height 1s;
}

.card-container:hover .info{
    opacity: 1;
    max-height: 300px;
}

h3{

    padding: 0;
    padding-top: 5px;
    margin: 0;
    font-size: 20px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
  

/* Media query for skjermer smalere enn 600px */

/* @media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
} 
*/