/* Setter .card til å ha relativ posisjonering slik at absolutt posisjonerte elementer inni den kan plasseres i forhold til .card */
.card {
    position: relative; /* Endret til relativ for å støtte absolutt posisjonerte barn */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Gir skyggeeffekt rundt kortet */
    margin: auto; /* Sentrerer kortet horisontalt */
    text-align: center; /* Sentrerer tekst inni kortet */
    font-family: arial; /* Setter skrifttype */
  }
  
  /* .overlay-text stiler for å plassere tekst over bildet */
  .overlay-text {
    position: absolute; /* Absolutt posisjonering for å plassere teksten over bildet */
    top: 0; /* Plasserer tekstblokken øverst i .card */
    left: 0; /* Plasserer tekstblokken til venstre i .card */
    width: 100%; /* Gjør at tekstblokken strekker seg over hele bildets bredde */
    color: white; /* Setter tekstfargen til hvit for bedre lesbarhet */
    background: rgba(0, 0, 0, 0.5); /* Legger en halvgjennomsiktig svart bakgrunn for tekst for lesbarhet */
    padding: 10px; /* Legger til litt plass rundt teksten inni tekstblokken */
  }
  
  /* Stiler for prisinformasjon */
  .price {
    color: grey; /* Setter farge på prisinformasjon */
    font-size: 22px; /* Setter skriftstørrelse for pris */
  }
  
  /* Stiler for 'Legg til i handlekurv'-knappen */
  .card button {
    border: none; /* Fjerner kantlinje rundt knappen */
    outline: 0; /* Fjerner fokusomrisset for å rense utseendet */
    padding: 12px; /* Legger til innvendig plass i knappen */
    color: white; /* Setter tekstfarge i knappen */
    background-color: #000; /* Setter bakgrunnsfarge på knappen */
    text-align: center; /* Sentrerer tekst inni knappen */
    cursor: pointer; /* Endrer musepeker til peker når over knappen */
    width: 100%; /* Gjør knappen like bred som tekstblokken */
    font-size: 18px; /* Setter skriftstørrelsen i knappen */
  }
  
  /* Stiler for å endre utseendet på knappen når brukeren holder musepekeren over den */
  .card button:hover {
    opacity: 0.7; /* Gjør knappen litt gjennomsiktig for en hover-effekt */
  }
  