*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #A9C5FF;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card1, .card2, .card3, .card4{
    display:flex;
    flex-direction: column;
    max-width: 250px;
    height: 480px;
    background-color:#fff;
    border-radius: 20px;
    align-items: center;
    margin-left: 20px;
   
    

    
}

.card1 a, .card2 a, .card3 a, .card4 a{
    background-color: #5F79E2;
    text-decoration: none;
    display: inline-block;
    max-width: 200px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: auto;
    color: white;


}

.card1 img, .card2 img, .card3 img, .card4 img{
    max-width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.8;
}

.card1 h3, .card2 h3, .card3 h3, .card4 h3{
    padding-bottom: 5px;
    margin-top: 20px;
    
}

.card1 p, .card2 p, .card3 p, .card4 p{
    text-align:justify;
    line-height: 1.4;
    margin-top: 0px;
    padding: 5px;
}

.price{
    align-self: center;

}

@media only screen and (max-width: 765px) {
    .card-container {
        flex-direction: column;
    }

    .card1, .card2, .card3, .card4{
        margin-bottom: 10px;
    }

}
